@model Models.Inventory

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<h1>Crear</h1>

<h4>Inventario</h4>
<p>Vincula el producto al almacen donde se va a administrar <br />
    Solamente se permite registrar 1 vez el producto en el almacen
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WareHouseId" class="control-label"></label>
                <select asp-for="WareHouseId" class="form-control"
                    asp-items="ViewBag.WareHouseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control"
                    asp-items="ViewBag.ProductId"></select>
            </div><div class="d-flex m-1 gap-2 ">
                <div >
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
                <div>
                    <a class="btn btn-outline-info" asp-action="Index">Lista de Inventarios</a>
                </div>
            </div>
            <div class="form-group text-danger">
                @ViewBag.ErrorMessage
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
