@model Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOfExistances" class="control-label"></label>
                <input asp-for="QuantityOfExistances" class="form-control" />
                <span asp-validation-for="QuantityOfExistances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WareHouseId" class="control-label"></label>
                <select asp-for="WareHouseId" class="form-control" asp-items="ViewBag.WareHouseId"></select>
                <span asp-validation-for="WareHouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
