@model Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";

}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buy_Price" class="control-label"></label>
                <input asp-for="Buy_Price" class="form-control" />
                <span asp-validation-for="Buy_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sell_Price" class="control-label"></label>
                <input asp-for="Sell_Price" class="form-control" />
                <span asp-validation-for="Sell_Price" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2 m-1">
                <div>
                    <input type="submit" value="Save"
                        class="btn btn-outline-primary" />
                </div>
                <div>
                    <a class="btn btn-outline-info" asp-action="Index">Lista
                        Productos</a>
                </div>
                <div>

                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
