@model Models.Exit

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
}

<h1>Salida de Productos del inventario</h1>

<h4>Exit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatebyInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cantidad a Rebajar</label>
                <label class="control-label">Cantidad disponible:
                    @ViewBag.Inventory.QuantityOfExistances</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Autor</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre Del Ciente</label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Notas</label>
                <input type="textarea" asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Producto N°</label>
                <input asp-for="InventoryId" class="form-control"
                    value="@ViewBag.Inventory.InventoryId" readonly />
            </div>
            <div class="d-flex m-1 gap-2">
                <div>
                    <input type="submit" value="Create"
                        class="btn btn-outline-primary" />
                </div>
                <div>
                    <a class="btn btn-outline-info" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<label class="text-danger">
    @ViewBag.Error
</label>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
