@model Models.Entry
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Crear Entrada";
    Layout = "_LayoutAdmin";
}

<h1>Ingreso de Productos </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Createbyinventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control "  value="@Accessor.HttpContext.Session.GetString("UserName")" readonly/>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inventario </label>
                <input asp-for="InventoryId" class="form-control"
                    value="@ViewBag.Inventory.InventoryId" readonly>
            </div>
            <div class="d-flex m-2 gap-2">
                <div>
                    <input type="submit" value="Create"
                        class="btn btn-outline-primary" />
                </div>
                <div>
                    <a class="btn btn-outline-primary" asp-action="Index">Lista
                        de Inventarios</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
